/* General Formatting */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #161229;
}


/* Website Header */
.Header {
    width : 100%;
    margin : 0;
    padding : 0.5rem;
    display : flex;
    justify-content: space-between;
    align-items: center;
    background-color : #3a3941;
    z-index: 10000;
    position: fixed;
}

.Header h1 {
    font-size : 1.5rem;
    color : rgb(151, 164, 177);
    font-family : 'Roboto', sans-serif;
    padding-left: 1rem;
}
.Header a:link, a:visited {
    text-decoration: none;
    color : rgb(151, 164, 177);
}

.Directory {
    display : flex;
    justify-content : space-between;
    align-items : center;
    padding : 1rem;
    padding-right : 2rem;
    gap : 1rem;
    color : rgb(151, 164, 177);
}

.Directory a:link, a:visited {
    text-decoration : none;
    color : rgb(151, 164, 177);
    font-family : 'Roboto', sans-serif;
}
.Directory a:hover{
    color : white;
}

/* Main Page */
.Cool_Intro {
    display : flex;
    justify-content : center;
    align-items : center;
    padding : 1rem;
    padding-top : 14rem;
    padding-bottom : 0rem;

}

.Cool_Intro h1 {
    font-size : 6rem;
    color : rgb(151, 164, 177);
    font-family : 'Roboto', sans-serif;
    z-index: 3;
    text-align : center;
    position : fixed;
    padding : 2rem;
    padding-top : 12rem;
}

.Video_Background {
    height : 50rem;
    width : 100%;
    display : flex;
    margin-top : -22rem;
    z-index : 1;
}

.Video_Background video {
    width : 100%;
    height : 140%;
    object-fit : fill;
    position : fixed;
    margin-top : -2rem;
    z-index : 1;
}

.Video_Blur {
    height : 50rem;
    width : 100%;
    margin-top : -22rem;
    position : absolute;
    background-color: #000000;
    opacity: 0.5;
    z-index: 2;
}
.Triangle_Things {
    display : flex;
    width : 100%;
    justify-content : space-between;
    align-items : center;
    z-index: 5;
    position : absolute;
    margin-top : -6.5rem;
}
.Triangle_Left {
    width: 0;
	height: 0;
    margin : 0 auto;
	border-right: 50vw solid transparent;
	border-bottom: 15vh solid #161229;    
}
.Triangle_Right {
    transform : rotateY(180deg);
    width: 0;
	height: 0;
	border-right: 50vw solid transparent;
	border-bottom: 15vh solid #161229;
}

.Main_Content {
    background-color: #161229;
    width : 100%;
    height : 100%;
    padding : 2rem;
    padding-top : 3rem;
    z-index: 4;
    position : absolute;
}
.Main_Content p {
    font-size : 1rem;
    color : rgb(151, 164, 177);
    font-family : 'Roboto', sans-serif;
    padding-top : 1rem;
    padding-bottom : 1rem;
}

.Section_Title {
    display : flex;
    font-size : 2rem;
    color : rgb(151, 164, 177);
    font-family : 'Roboto', sans-serif;
    padding-bottom : 1rem;
    justify-content : center;
}

/* About Page */
.Description_Me {
    display : flex;
    align-items : center;
    padding : 3rem;
    padding-top : 5.5rem;

}

.Description_Me img {
    width : 15rem;
    height : 15rem;
    border: #ffffff solid 0.5rem;
    border-radius : 50%;
    margin-left : 2rem;
    margin-top : 2rem;
    margin-right : 0.5rem;
}

.Description_Me h1 {
    font-size : 4rem;
    color : rgb(151, 164, 177);
    font-family : 'Roboto', sans-serif;
    padding-top : 1rem;
    margin-left : -0.2rem;
}

.Description_Me h2 {
    font-size : 1.5rem;
    color : rgb(104, 112, 121);
    font-family : 'Roboto', sans-serif;
}

.Description_Me h3 {
    font-size : 1rem;
    color : rgb(104, 112, 121);
    font-family : 'Roboto', sans-serif;
}

.Name_Title {
    vertical-align : bottom;
    padding-left : 1.5rem;
}




















